@import "tailwindcss";

<div
        class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-5 noto"
      >
        <!-- Left Side -->
        <div class="flex flex-row md:flex-col gap-6">
          <!-- Small Card 1 -->
          <div
            class="bg-[url('/assets/deal-bloom.png')] bg-no-repeat relative rounded-2xl overflow-hidden w-full h-50 object-cover"
          >
            />
            <div
              class="absolute inset-0 bg-black/40 flex flex-col justify-center items-center text-white"
            >
              <h2 class="text-xl font-bold">60% Off | Bloom Plant</h2>
              <button class="mt-3 border-b border-white">Shop Now</button>
            </div>
          </div>

          <!-- Small Card 2 -->
          <div
            class="bg-[url('/assets/deal-ana.png')] bg-no-repeat relative rounded-2xl overflow-hidden w-full h-50 object-cover"
          >
            <div
              class="absolute inset-0 bg-black/40 flex flex-col justify-center items-center text-white"
            >
              <h2 class="text-xl font-bold">30% Off | Ana Plant</h2>
              <button class="mt-3 border-b border-white">Shop Now</button>
            </div>
          </div>
        </div>

        <!-- Right Big Card -->
        <div
          class="bg-[url('/assets/deal-zabo.png')] bg-no-repeat relative col-span-2 rounded-2xl overflow-hidden w-full h-full object-cover"
        >
          <div
            class="absolute inset-0 bg-black/40 flex flex-col justify-center items-center text-white text-center"
          >
            <h2 class="text-4xl font-bold">25% Off | Zabo Plant</h2>
            <button class="mt-4 border-b border-white text-md">Shop Now</button>
          </div>
        </div>
      </div>